:root {
	--primary-blue: #0a4595;
	--primary-blue-dark: rgb(9, 52, 112);
	--secondary-blue: #0099d8;
	--dark-gray: #333;
	--green: rgba(97, 175, 95, 0.4);
	--yellow: rgb(255, 240, 80);
	--red: #f25c05;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Quicksand", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	display: flex;
	padding: 0;
	margin: 0;
}

li {
	padding: 0 10px;
	margin: 0;
	list-style-type: none;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Main Content */
.main-content {
	margin-top: 86px;
}

/* Margin Amounts */
.m-1 {
	margin: 5px;
}

.m-2 {
	margin: 10px;
}

.m-3 {
	margin: 20px;
}

.m-4 {
	margin: 40px;
}

/* Padding Amounts */
.p-1 {
	padding: 5px;
}

.p-2 {
	padding: 10px;
}

.p-3 {
	padding: 20px;
}

.p-4 {
	padding: 40px;
}

/* Flexbox Related */
.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
